<div class="container">
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <p>El COVID-19 se caracteriza por síntomas leves, como, dolor de garganta, tos y fiebre. La enfermedad puede ser más grave en algunas personas y provocar neumonía o dificultades respiratorias. Más raramente puede ser mortal. Las personas de edad
                avanzada y las personas con otras afecciones médicas (como asma, diabetes o cardiopatías) pueden ser más vulnerables y enfermar de gravedad. Los signos y síntomas pueden ser:
            </p>
            <ul>
                <li>dolor de garganta</li>
                <li>tos</li>
                <li>fiebre</li>
                <li>dificultad para respirar (en casos graves)</li>
            </ul>

        </div>
        <div class="col-xs-6">
            <div class="row">
                <p>{{IS}}</p>
            </div>
            <div class="row">
                <p>¿Has salido de casa? ¿Para que, por que y a donde?</p>
            </div>
            <div class="row">
                <textarea rows="6" cols="50"></textarea>
            </div>
            <div class="row">
                <button>Siguiente</button>
            </div>
        </div>
    </div>
</div>