<div class="question-page">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <p>El COVID-19 se caracteriza por síntomas leves, como, dolor de garganta, tos y fiebre. La enfermedad puede ser más grave en algunas personas y provocar neumonía o dificultades respiratorias. Más raramente puede ser mortal. Las personas
                    de edad avanzada y las personas con otras afecciones médicas (como asma, diabetes o cardiopatías) pueden ser más vulnerables y enfermar de gravedad. Los signos y síntomas pueden ser:
                </p>
                <ul>
                    <li>dolor de garganta</li>
                    <li>tos</li>
                    <li>fiebre</li>
                    <li>dificultad para respirar (en casos graves)</li>
                </ul>

            </div>
            <div class="col-xs-6">
                <div class="row">
                    <p>{{IS}}</p>
                </div>
                <div class="row">
                    <p>De acuerdo a las respuestas anteriores selecciona una opcion</p>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <input type="checkbox" name="op1" checked>
                        <label for="op1">Estamos sanos</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" name="op2">
                        <label for="op2">Mi familia o yo presentamos sintomas</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" name="op3">
                        <label for="op3">Mi familia o yo tenemos COVID-19</label>
                    </div>
                </div>
                <div class="row">
                    <button>Finalizar</button>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>