<div class="login-page">
    <div class="form">
        <div>
            <input type="text" placeholder="IS" />
            <input type="text" placeholder="NOMBRE" />
            <input type="text" placeholder="APELLIDO PATERNO" />
            <input type="text" placeholder="APELLIDO MATERNO" />
            <input type="text" placeholder="CORREO" />
            <input type="text" placeholder="TELEFONO" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirmar Password" />
            <button (click)="ErrorRegistration()" style="background-color: red;"> ERROR REGISTRATION</button>
            <hr>
            <button (click)="SuccesRegistration()">SUCCES REGISTRATION</button>
            <hr>
        </div>
    </div>
</div>